# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv/
venv/
env/
ENV/

# Database / FAISS Indexes
*.index
engine/*.index
sentences.txt
engine/sentences.txt

# Logs
*.log
engine/*.log

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp
