[submodule "skillshub/ComposioHQ_awesome-claude-skills"]
	path = skillshub/ComposioHQ_awesome-claude-skills
	url = https://github.com/ComposioHQ/awesome-claude-skills

[submodule "skillshub/ZhanlinCui_Agent-Skills-Hunter"]
	path = skillshub/ZhanlinCui_Agent-Skills-Hunter
	url = https://github.com/ZhanlinCui/Agent-Skills-Hunter

[submodule "skillshub/openclaw_skills"]
	path = skillshub/openclaw_skills
	url = https://github.com/openclaw/skills
	ignore = dirty

[submodule "skillshub/openai_skills"]
	path = skillshub/openai_skills
	url = https://github.com/openai/skills

[submodule "skillshub/BankrBot_skills"]
	path = skillshub/BankrBot_skills
	url = https://github.com/BankrBot/skills
