[submodule "/Users/zhangdw/work/lenovo/Astra/skillshub/openai_skills"]
	path = /Users/zhangdw/work/lenovo/Astra/skillshub/openai_skills
	url = https://github.com/openai/skills
[submodule "/Users/zhangdw/work/lenovo/Astra/skillshub/anthropics_skills"]
	path = /Users/zhangdw/work/lenovo/Astra/skillshub/anthropics_skills
	url = https://github.com/anthropics/skills
